node_modules
.env
.env.local
logs
.env.docker
.env.docker.local
.dockerignore
.env.example
.env.production
docker-compose.yml
Dockerfile
docker-compose.prod.yml
postman


# Docker


# Backup files

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea
*.swp
*.swo